ci:
  autofix_prs: false

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.3
    hooks:
      - id: ruff-format
        args: ["--diff", "src/deisa/ray", "tests"]
      - id: ruff
        args: ["src/deisa/ray", "tests"]
